{% extends "base.html" %}

{% block title %}Log in ログインページ{% endblock %}

{% block content %}
<div>
    <h1>ログイン</h1>
    <div>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <botton type = "submit">ログイン</botton>
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <p>{{ error }}</p>
            </div>
            {% endfor %}
        </form>
    </div>
</div>

{% endblock %}
