<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scal=1.0" />
    <title>{% block title %}Twitter Clone{% endblock title %}</title>
</head>

<body>
    <div>
        {% if request.user.is_authenticated %}
        <h3><a href="{% url 'tweets:home' %}">Twitter Clone</a></h3>
        <form action="{% url 'accounts:logout'%}" method="post">{% csrf_token %}
            <button type="submit">ログアウトする</button>
        </form>
        <a href="{% url 'accounts:user_profile' request.user.username %}"><button type="button">{{ request.user.username }}</button></a>

        {% else %}
        <h3><a href="{% url 'welcome:index'%}">Twitter Clone</a></h3>
        <a href="{% url 'accounts:login'%}">ログインページ</a>
        <a href="{% url 'accounts:signup'%}">新規登録</a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock content %}
</body>

</html>
